.DS_Store
.classpath
bin
lib
oldFiles
office365
oldFiles
eclipse_all_comments.txt
eclipse_hack_pattern.txt
small.txt
Src2srcMLFiles
ExtractedCommentsFiles
time log 12 28
test.sh
.project
.settings/org.eclipse.jdt.core.prefs
eclipse_hack_pattern-V002.txt
outputFiles/
test.txt


